* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*CABEÇALHO DO SITE*/ 

body {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    position: relative;
    width: 70%;
    height: 180px;
}

a {
    color: black;
}

.background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 350px;
    background-image: url(imagens/Group2copiar.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    
}

.elementos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 13em;
    height: 13em;
    background-image: url(imagens/LOGO.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 50px;
}

.elemento1 {
    display: flex;
    width: 12em;
    height: 12em;
    background-image: url(imagens/Vector-Smart-Object.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 4em;
    position: relative;
    right: 4em;
    z-index: 2;
}

.elementos > p {
    display: flex;
    width: 5em;
    color: white;
    text-align: right;
    padding-right: 50px;
}

.elemento2 {
    display: flex;
    width: 7em;
    height: 7em;
    background-image: url(Imagens/triangle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    position: absolute;
    right: 10em;
}

/*NOTICIAS PRINCIPAIS*/

#principal {
    width: 70%;
}

.noticias {
    margin: 28px;
}

.noticiaprincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
    justify-content: space-between;
}

.imgntc1 {
    display: flex;
    background-image: url(imagens/Layer18.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    position: relative;
    z-index: 3;
}

.titulo {
    font-size: 23px;
}

.textonoticia {
    font-size: 13px;
}

.textonoticia,  .titulo, .fonte {
    margin-top: 7px;
    align-self: flex-start;
}

.fonte {
    font-style: italic;
    font-size: 13px;
    opacity: .6;
    margin-top: 12px;
}

.line {
    margin-top: 5px;
    display: flex;
    background-image: linear-gradient(90deg, #e5245a, #6b5ba3);
    height: 4px;
    width: 249px;
    border-radius: 2px;
    align-self: flex-start;
}

/*NOTICIAS SECUNDARIAS*/

.noticiassecundarias {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 3em;
}

.card {
    width: 48%;
    gap: 3em;
}

.imgntc2, .imgntc3 {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
}

.imgntc2 {
    background-image: url(imagens/Layer\ 19.png);
}

.imgntc3 {
    background-image: url(imagens/Layer\ 22.png);
}

#line2, #line3 {
    background-image: linear-gradient(90deg, #76c7d0, #6660a6);
}

/*FOOTER*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc4c02;
    height: 200px;
    width: 100%;
}

.logofooter {
    display: flex;
    background-image: url(imagens/logo_assinatura.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 100px;
}

.direitosautorais {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
}

/*DESKTOPS HD*/

@media only screen and (max-width: 4000px) and (min-width: 1600px) {

    .logo {
        position: relative;
        left: 50px;
    }

    .elemento1 {
        position: relative;
        right: 150px;
    }

    .titulo {
        font-size: 2em;
    }

    .textonoticia {
        font-size: 1em;
    }

}

/*SMARTPHONES*/

@media only screen and (max-width: 860px) and (min-width: 460px) {

    header {
        width: 100%;
    }

    .background {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 350px;
        background-image: url(imagens/Group2copiar.png);
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }
    
    .elementos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo {
        width: 10em;
        height: 10em;
        background-image: url(imagens/LOGO.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 40px;
    }
    
    .elemento1 {
        position: auto;
        width: 13em;
        height: 13em;
        background-image: url(imagens/Vector-Smart-Object.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        right: 30px;
        margin-left: 20px;
    }
    
    .elementos > p {
        color: white;
        text-align: right;
        width: 100px;
        padding-right: 50px;
    }

    #principal {
        width: 100%;
    }

    .imgntc2, .imgntc3 {
        height: 200px;
    }

    footer {
        width: 100%;
    }

    .direitosautorais {
        font-size: 15px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 0px) {

    header {
        width: 100%;
        height: 150px;
    }

    .logo{
        margin: 10px;
        width: 8em;
    }

    .line {
        width: 200px
    }
    
    .elementos > p {
        width: 10px;
        font-size: 10px;
    }

    .elemento1 {
        width: 10em;
        height: 10em;
    }

    .elemento2{
        display: none;
    }

    #principal {
        width: 100%;
    }

    .imgntc1 {
        width: 100%;
        height: 170px;
    }

    .noticiassecundarias {
        margin-top: 20px;
    }

    .card {
        width: 48%;
        height: 270px;
    }
    
    #titulo2, #titulo3 {
        font-size: .9em;
    }
    
    #line2, #line3 {
        width: 90px;
    }

    #fonte2, #fonte3 {
        font-size: .7em;
    }

    .imgntc2, .imgntc3 {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
    }

    footer {
        width: 100%;
    }
}



@media only screen and (max-width: 400px) and (min-width: 0px) {
    .elemento1 {
        display: none;
    }

    #titulo2, #titulo3 {
        font-size: 1em;
    }

    .noticiassecundarias {
        flex-direction: column;
    }

    #line2, #line3 {
        width: 110px;
    }

    .card {
        width: 100%;
        height: 290px;
    }

    .imgntc2, .imgntc3 {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .logofooter {
        width: 80%;
    }

    .direitosautorais {
        width: 90%;
        font-size: .8em;
        margin-bottom: 10px;
    }
}